# Port which the app will be created
PORT = 

# Database informations
DB_HOST = 
DB_ROOT_PASSWORD = 
DB_DATABASE = 
DB_USER = 
DB_PASSWORD = 
DB_PORT = 

# Secret to use at the tokens
JWT_SECRET = 

# AI key used to acess the AI
# in code is used the API key from groq
AI_KEY = 